@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("Naige.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.group-action {
  position: relative;
  width: 70%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 50px 50px rgba(255, 255, 255, 0.5),
    inset 0 0 100px 100px rgba(255, 255, 255, 0.3),
    inset 0 0 200px 200px rgba(0, 0, 0, 0.2), 2px 2px 5px rgb(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
.login {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(163, 173, 192, 0.8);
  transition: left 1s;
  padding: 40px 20px;
}

.signup {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(163, 173, 192, 0.8);
  transition: left 1s;
  display: none;
  padding: 20px;
}
h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
input {
  margin: 20px auto;
  display: block;
  height: 40px;
  width: 80%;
  padding: 0 20px;
  border-radius: 10px;
  outline: none;
  border: none;
}
a {
  float: right;
  text-decoration: none;
  color: rgb(23, 66, 146);
  font-weight: 800;
}
button {
  display: block;
  margin: 40px auto;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: rgb(0, 141, 197);
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
span a {
  float: none;
  text-decoration: underline;
  margin: 0 10px;
  cursor: pointer;
}
.signup span {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.form1 {
  transition: opacity 2s;
}
.form2 {
  transition: opacity 2s;
}
.signup button {
  margin: 30px auto;
}
